.vscode/
Binaries/
Config/
DerivedDataCache/
Intermediate/
Platforms/
Saved/
Source/
.ignore
*.code-workspace
*.uproject
Content/*.umap
Content/__ExternalActors__
Content/__ExternalObjects__
Content/FirstPerson
Content/Collections
Content/Developers
Content/FirstPersonArms
Content/FPWeapon
Content/LevelPrototyping
Content/MedievalDungeon/Materials
Content/MedievalDungeon/Blueprints
Content/MedievalDungeon/Maps
Content/MedievalDungeon/Meshes
Content/MedievalDungeon/Particles
Content/MedievalDungeon/Textures
